{% extends 'base.html' %}

{% block head_content %}
    <title>Home</title>
{% endblock head_content %}
{% block main %}
    <section class="options">
        <div class="op">
            <h2><a href="/GET">GET</a></h2>
        </div>
        <div class="op">
            <h2><a href="/POST">POST</a></h2>
        </div>
        <div class="op">
            <h2><a href="/PUT">PUT</a></h2>
        </div>
        <div class="op">
            <h2><a href="/DELETE">DELETE</a></h2>
        </div>
    </section>
{% endblock main %}