{% extends 'base.html' %}
{% block head_content %}    
    <title>Editar podcast</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/post.css'%}">
{% endblock head_content %}
{% block main %}
    <h1>{{Message}}</h1>    
    <h1>Editar url del último capítulo</h1>    
    <form action="" method="POST">    
        {% csrf_token %}
        <label for="id">ID:</label>
        <input type="number" name="id" placeholder="id del podcast" required>
        <br>       
        <label for="chapter">Último capítulo(url):</label>
        <input type="url" placeholder="https://www.youtube.com/" name="chapter" required>
        <br>
        <input type="submit" value="Editar" class="btn">
    </form>
{% endblock main %}